// 1. Import Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Nunito Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
.container{
  margin-top: 5vh;
}